.уbody{
    background-color: #e9eeff;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-size: 14px;
}

.header{
    margin: auto 0;
    padding: 0;
}

.navigation{
    list-style-type: none;
    margin: auto 0;
    padding: 0;
    height: 44px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.navigation li{
    display: flex;
    flex-direction: row;
}

.burger{
    border: 0;
    margin-left: 40px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    background-image: url(../img/burger.svg);
}

.home{
    width: 24px;
    height: 24px;
    margin-left: 26.4px;
}

.form-search{
    background-color: white;
    width: 226px;
    height: 24px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-left: 28.4px;
}

.seek{
    border: 0;
    width: 16px;
    height: 16px;
    background-color: transparent;
    background-image: url(../img/search.svg);
    margin-left: 16px;
    padding: 0;
}

.inp-search{
    border: 0;
}
.inp-search:hover{
    border: 1px red solid;
}
.inp-search:active{
    border: 0;
}

.plus{
    border: none;
    background-color: transparent;
    background-image: url(../img/plus.svg);
    width: 24px;
    height: 24px;
    margin-right: 28.4px;
}

.notification{
    border: none;
    background-color: transparent;
    background-image: url(../img/notifications.svg);
    width: 24px;
    height: 24px;
    margin-right: 26.4px;
}

.avatar{
    border: none;
    background-color: transparent;
    background-image: url(../img/avatar.svg);
    width: 24px;
    height: 24px;
    margin-right: 40px;
}